.App {
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  background-color: steelblue;
}

.Input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  width: 165px;
  margin-bottom: 15px;
}

.List {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
  display: flex;
}

.delete {
  /* position: relative; */
  display: flex;
  justify-content: flex-end;
  /* top: 0;
  right: 0px; */
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.delete:hover {
  color: red;
}
